*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-white: #f8f9f5;
  --font-black: #0e1111;
  --grad-fallback: #22c1c3;
  --grad-bg: linear-gradient(170deg, #fdbb2d 0%, #22c1c3 100%);
  --yellow: #fdbb2d;
  --blue: #22c1c3;
  --left-shape: 30% 70% 67% 33% / 30% 51% 49% 70% ;
  --right-shape: 57% 43% 29% 71% / 70% 41% 59% 30%  ;
}

body {
  background: var(--bg-white);
  color: var(--bg-black);
  height: 100vh;
  width: 100vw;
}

footer {
  color: var(--font-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100vw;
}

footer p {
  font-size: 1rem;
}






